* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "微软雅黑";
}
.top {
  width: 100%;
  height: 50px;
  background-color: #1B82D1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top p {
  font-size: 20px;
  color: white;
  margin-left: 10px;
}
.top ul {
  width: 35%;
  height: 50px;
  display: flex;
  align-items: center;
}
.top ul li {
  width: 100%;
  height: 50%;
  background-image: url(../friend/Screenshot_2017-09-29-10-50-42_05.png);
  background-size: 100% 100%;
}
.top img {
  width: 100%;
  height: 40px;
}
.boxs {
  width: 95%;
  height: 1120px;
  margin: 0 auto;
}
.boxs .box {
  width: 100%;
  height: 70px;
  display: flex;
  margin: 10px 0;
}
.boxs .box img {
  width: 20%;
  height: 70px;
}
.boxs .box .word {
  width: 75%;
  height: 70px;
  padding: 13px;
  position: relative;
}
.boxs .box .word p {
  font-size: 20px;
  color: black;
  margin-bottom: 15px;
}
.boxs .box .word span {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 12px;
}
.boxs .box .word a {
  font-size: 14px;
}
.grayline {
  width: 100%;
  height: 20px;
  background-color: #EAEEEF;
}
.last-line {
  height: 30px;
  margin-bottom: 50px;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: white;
}
.footer ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.footer li {
  width: 25%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer li a img {
  height: 80%;
}
